<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather forcast</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/weather" method="post">
        latitude
        <input type="text" name="lat">
        longitude
        <input type="text" name="lon">
        <h3>or</h3>

        city name
        <input type="text" name="city">
        <br>
        <input type="submit">
    </form>

    <h3>Get Available Weather Data </h3>
    <a href="http://127.0.0.1:5000/weather-data">data</a>

    <h3>Get Weather Data for City</h3>
    <form action="/weather-data-for-city" method="GET">
        <label for="city">City:</label>
        <input type="text" id="city" name="city"><br>
        <br>
        <input type="submit" value="Get Weather Data">
    </form>

    <h3>Get Weather Data By filter</h3>
    <form action="/weather-data_filter" method="GET">
        city
        <input type="text" name="city">
        <br>
        Start date
        <input type="text" name="start_date">
        <br>
        End Date
        <input type="text" name="end_date">
        <br>
        Min Temperature
        <input type="text" name="min_temperature">
        <br>
        Max Temperature
        <input type="text" name="max_temperature">
        <br>
        <input type="submit" value="Get Weather Data">
    </form>
</body>
</html>