<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather forcast</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/weather" method="post">
        latitude
        <input type="text" name="lat">
        longitude
        <input type="text" name="lon">
        <h3>or</h3>

        city name
        <input type="text" name="city">
        <br>
        <input type="submit">
    </form>
</body>
</html>